/* .rows {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 5px;
    margin: 10px;
}  */


  .rows li {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
  }

/* .rows {
    display: grid;
    grid-template-columns: repeat(var(--numcols, 3), 1fr);
    grid-auto-rows: calc((9 / 16)*(100vw -(var(--gutter, 1rem)*(var(--numcols, 3) + 1))) / var(--numcols, 3));
    grid-auto-flow: dense;
    grid-column-gap: var(--gutter, 1rem);
    grid-row-gap: var(--gutter, 1rem);
    margin: var(--gutter, 1rem);
}  */

/* Above is the styling code I took from the square enix website. I will use this an outline. */
